{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <!-- <section class="section section-md section-features border-bottom border-dark">
    <div class="container py-4">
      <div class="row justify-content-center text-center gap-4 px-4">
        <div class="col-lg-5 border rounded-1 bg-light bg-opacity-25">
          <h2 class="h4">Documentation</h2>
          <p>This hub includes all the documentation you need to create your robots using Bot Studio.</p>
        </div>
        <div class="col-lg-5 border rounded-1 bg-light bg-opacity-25">
          <h2 class="h4">Weblogs</h2>
          <p>This hub includes all weblogs related to robots and all things related to Bot Studio.</p>
        </div>
        <div class="col-lg-5 border rounded-1 bg-light bg-opacity-25">
          <h2 class="h4">Bot Studio</h2>
          <p>This hub includes any additional pages and tools related to Bot Studio.</p>
        </div>
      </div>
    </div>
  </section> -->
  {{ end }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
          <h2 class="h3 mt-3 text-center">Latest from our blogs</h2>
          <div class="card-list">
          {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "blog")  -}}
      <div class="card">
        {{ if site.Params.doks.imageList -}}
          {{- $images := .Resources.ByType "image" -}}
          {{- $featured := $images.GetMatch "*feature*" -}}
          {{- if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end -}}
          {{- if $featured -}}
            {{ partial "img" (dict
            "page" .
            "src" $featured
            "alt" .Title
            "class" "rounded-top-1"
            )}}
          {{ end -}}
        {{ end -}}
        <div class="card-body">
          <article>
            <h2 class="h3"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
            <p>{{ .Params.summary | safeHTML }}</p>
            {{ partial "main/blog-meta.html" . -}}
          </article>
        </div>
      </div>
          {{ end -}}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}

{{ define "sidebar-footer" }}
  {{ if site.Params.doks.sectionFooter -}}
    <!-- <section class="section section-md container-fluid bg-light">
      <div class="row justify-content-center text-center">
        <div class="col-lg-7">
          <h2 class="mt-2 h5">Contact Us</h2>
          <a class="btn btn-outline-primary btn-lg rounded-1 px-4 my-2" href="#" role="button">Click Here</a>
          layouts/index.html
        </div>
      </div>
    </section> -->
  {{ end -}}
{{ end }}
